* {margin: 0px}

body {
    font-size: 16px;
    font-family: 'Lora';
}

header {
    padding-left: 1rem;
    padding-top: 1.5rem;
    display: flex;

}

.horizontal {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #c7c7c7;
  
}

.vertical {
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background: #c7c7c7;
}

.lines {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse; 
}

.box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 1rem;
    flex-grow: 1;
}

@media screen and (min-width: 50rem) {
    header img {width: 161px; height: 101px;}
}

ul.nav {
    list-style-type: none;
    float: right;
    padding-inline-start: 0px;
    display: flex;
    justify-content: flex-end;
  }

 .nav li {
    display: inline;
    font-family: Didot;
    color: #343434;
    font-size: 1.125rem;
    padding-right: 1rem;
  }

  li a {
    color: #afafaf;
    padding: 8px 8px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #343434;
    text-decoration: underline;
}  

li a.active {
    color: #343434;
    text-decoration: underline;
}  

ul {
    padding-bottom: 1rem;
}

.top {
    background-color: #f6f6f6;
}

.cake {
        outline: 1px solid white;
        outline-offset: -1rem;
}

.double {
    display: none;
}

.title {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.author {
    padding-top: 0.75 rem;
    padding-left: 1rem;
}

.author h3 {
    padding-left: 1.25rem;
}



article > p:first-child:first-letter {
    color: #343434;
    float: left;
    font-family: 'Didot';
    font-size: 150px;
    line-height: 150px;
    padding-right: 0.5rem;
    padding-left: 0;
    padding-bottom: 2rem;
    text-transform: lowercase;
  }


article.about p:first-child:first-letter {
    padding-top: 0rem;
}


  article {
    padding-top: 3rem;
    margin-block-end: 0rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    text-align: justify;
    line-height: 1.5rem;
    max-width: 35rem;
    margin: 0 auto;
}

article.about {
    max-width: 50rem;
    padding-bottom: 3rem;
}

article.archive ul {
    list-style-type: none;
    text-align: center;
}

article p {
    margin-bottom: 1rem;
}

@media screen and (min-width: 50rem) {
    .top {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        }
    .img1 {
        padding-top: 1rem;
        width: 400px;
        height: 400px;
        margin-bottom: 2rem;
        position:relative;
    }
    .author {
        padding-right: 2rem;
        font-size: 1.25rem;
    }
    .title img {
        /* width: 85px;
        height: 60px;
        align-self: flex-start; */
        display:none;
    }

    .double {
        display: block;
        position: absolute;
        top: -0.5rem;
        left: -1rem;
    }

    .home {
        background-color: #f6f6f6;
    }
    .lines {
        padding-top: 1.5rem;
    }
    ul.nav {
        padding-top: 1rem;
        padding-right: 2rem;
    }
    
    .break {
        background-color: #f6f6f6;
    }
    article {
        font-size: 1.125rem;
        padding-bottom: 3rem;
    }
    article > p:first-child:first-letter {
        font-size: 200px;
    }
}
    .dog {
        float: right;
        margin-left: 70%;
        padding-bottom: 2rem;
    }

@media screen and (min-width: 45rem) {
    .a1 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 3rem 3rem;
    }
    .para1 {
        
        grid-column: span 4;
    }
    .face {
        grid-column: 5/7;
    }
    .dog {
        grid-column: 1/3;
        padding-left: 0;
        width: 120%;
        margin-left: -10%;
        padding-top: 2rem;
        
    }
    .para2 {
        grid-column: 3/7;
        padding-top: 2rem;
    }

    }
    
}

.footer {
    padding-top: 4rem;
}

.logo {
    padding-top: 4.5rem;
}

.form {
    background-color: #f6f6f6;
    padding: 3.5rem 3rem;
    margin-bottom: 3rem;
    max-width: 35rem;
    margin: 0 auto;
}

.form p {
    font-size: 0.75rem;
    padding-bottom: 1rem;
}


@media screen and (min-width: 50rem) {
    .form {
        padding: 5rem 7rem;
        }
    .form p {
        font-size: 1rem;
    }
    .form h3 {
        font-size: 1.5rem;
    }
    }

#email, select {
    width: 100%;
    padding: 0.5rem 1rem;
    display: inline-block;
    border: 1px solid #343434;
    border-right: none;
    border-radius: 2px 0px 0px 2px;
    box-sizing: border-box;
  }

#email, placeholder {
    font-style: italic;
    font-family: 'Lora';
}

@media screen and (min-width: 50rem) {
    #email, placeholder {
        font-size: 1rem;
    }
    }

form {
    display: flex;
    align-items: stretch
}

.form div, .form form {
    width: 100%;
  }
  
.form1 {
    display: flex;
    align-items: stretch;
  }

form button {
    float: right;
    width: 20%;
    padding: 10px;
    background: #343434;
    color: white;
    font-size: 17px;
    border: 1px solid #343434;
    border-left: none;
    border-radius: 0px 2px 2px 0px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.35);
  }

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.arrow {
    display: inline;
    margin-bottom: -0.1rem;
}